main {
  width: 50%;
  /* border: 1px solid black; */
  float: left;
}


#hello_span {
  margin-left: -5px;
}

#greet_span {
  display: block;
}

#first_step_div {

}
#register_store_span {
  display: block;
}

aside {
  /* width: 50%; */
  float: left;
}

img {
  float: left;
  width: 50%;
  height: 500px;
}
