@font-face {
    font-family: 'CommentSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal; font-style: normal;
}

.signature { color : GOLD; color : DARKORANGE; color :ORANGERED; color :MAROON;}

* { margin: 0; padding: 0; }

/* 기본 글씨체 설정 */
* { font-family: 'NanumSquare', sans-serif; }
.comment { font-family: 'CommentSansLight', sans-serif; }


/* 헤더의 메뉴 */
header { margin-bottom: 60px; }
ul{ list-style: none; }
.header_main_menu { font-family: 'NanumSquare', sans-serif; font-size: 1.2rem;}
.header_menu { margin-top: 1rem; }

.keywords{ width: 800px; }
.keywords li{
  display: inline-block;
  border: 1px solid lightGray;
  padding: 5px;
  margin: 5px;
}


/* my info page */
.my_info_content{
    margin: 15px;
    width: 100%;
    min-height: 500px;
    min-width: 1400px;
    position: relative;
    display: inline-block;
}
.my_info_content > *{ float: left; }
.left_menu, .card_menu_row > *{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}


/* 왼쪽 사이드 메뉴 */
.side_left_icon {  width: 100%; text-align: center; font-size: 10rem; color: ORANGERED; }
.left_menu{ width: 300px; }
.left_menu ul { margin: 50px;}
.left_menu h1 { margin-top: 2rem; margin-bottom: 1.5rem;}
.left_menu li  { font-family: 'NanumSquare', sans-serif; font-size: 1rem; padding: 10px 0;}
.left_menu li a:link, .left_menu li a:visited, .left_menu li a:hover  { color: black;}
.sub_menu a:link { text-decoration: none; color: #585858;}
.my_info_profile { width: 200px; height: 200px; margin: 50px auto; border-radius: 50%; overflow: hidden;}
.my_info_profile img{ width: 100%; height: 100%; object-fit: cover; }

/* 오른쪽 사이드 메뉴 (마이페이지의 버튼 매뉴들~~) */
.card_menu_btn_icon { font-size: 1.5rem; }
.right_content { min-width: 800px; margin-left: auto !important; margin-right: auto !important; padding:50px 100px; }
/* 오른쪽 사이드 메뉴 기본 버전 */
.right_content .card_menu_btn {
    width: 300px;
    height: 190px;
    float: left;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 5px;
    border-color: rgba(0, 0, 0, 0);
}
/* 오른쪽 사이드 메뉴 넓은 버전 */
.right_content .card_menu_btn_wider {
    width: 600px;
    height: 190px;
    float: left;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 5px;
    border-color: rgba(0, 0, 0, 0);
}

.card_menu_btn:hover { box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5); }
.card_menu_btn > * { margin: 5px; }
.card_menu_btn_name { font-size:  1rem; font-weight: bold;}
.card_menu_btn_disc { font-family: 'CommentSansLight', sans-serif; font-size:  0.8rem; overflow: hidden;
    text-overflow: ellipsis; display: -webkit-box;
    -webkit-line-clamp: 2; -webkit-box-orient: vertical;  width:100%;}


/* 테이블 메뉴 */
.common_table_width { width: auto; }
.common_table_width * { border-collapse: collapse; }
.common_table_head { text-align: center; font-weight: bold; font-size: 1.2rem; }
.common_table_main * { text-align: center; padding: 8px; }
.common_table_main thead { font-weight: bold; }
.common_table_main tbody * { font-family: 'CommentSansLight', sans-serif; }
.common_table_main tbody tr:nth-child(odd) {background-color: #f2f2f2;}


/* footer */
#footer_top{
    display: block;
}

.footer_container_row {
    float: left;
    position: relative;
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 10px 0;
}
.footer_container {
    float: left;
    position: relative;
    display: inline-block;
    width: 24%;
    margin: 30px 0;
}

.footer_container strong {
    font-size: 1.2rem;
    color: orangered;
    font-weight: bold;
    margin: 10px 0;
}

.footer_container li {
    margin: 10px 0;
}
