@font-face {
    font-family: 'CommentSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal; font-style: normal;
}

* { font-family: 'NanumSquare', sans-serif; }
.header_main_menu { font-family: 'NanumSquare', sans-serif; font-size: 1.2rem;}
.comment { font-family: 'CommentSansLight', sans-serif; }

* { margin: 0; padding: 0; }
header { margin-bottom: 60px; }

.signature { color : GOLD; color : DARKORANGE; color :ORANGERED; color :MAROON;}