.my_comment_title{
  margin: 20px 0 0 40px;
}

.comment_title_sub {
  color: #585858;
  font-size: 16px;
}

.comment_title_main {
  color: #585858;
  font-size: 30px;
  font-weight: bold;
}


/*
.my_comment_tab{
  position: relative;
  margin: 20px 0 0 40px;
  width: 700px;
  height: 430px;
}
*/
.comment_tab_first{
  height: 30px;
  float: left;
  width: 120px;
  z-index: 9;
  position: relative;
  border-bottom: 3px solid #ddd;
  text-align: center;
}
/*
.comment_tab_second{
  height: 30px;
  float: left;
  width: 140px;
  z-index: 9;
  position: relative;
  text-align: center;
}

.my_comment_tab>div{
  position: absolute;
  top: 32px;
  width: 700px;
  height: 100px;
  margin: 0;
  border-top: 1px solid #ddd;
}

.my_comment_tab>div.hidden{
  display: none;
}
*/
.tab_content_first {
  width: 660px;
  height: 250px;
  margin-top: 30px;
  margin-left: 18px;
  border: 1.25px solid #D2CBC5;
}

.content_title{
  margin: 0px;
  padding-top: 15px;
  padding-left: 10px;
  width: 650px;
  height: 40px;
  background-color: #D2CBC5;
}

.tab_content_second{
  width: 660px;
  height: 250px;
  margin-top: 30px;
  margin-left: 18px;
  border: 1.25px solid #D2CBC5;
}

.tab_content_third{
  width: 660px;
  height: 250px;
  margin-top: 20px;
  margin-left: 18px;
  border: 1.25px solid #D2CBC5;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 100%;
  font-family:"dotum";
  font-size:18px;
}
ul.tabs li {
  margin-top: 30px;
  height: 30px;
  float: left;
  width: 150px;
  text-align: center;
  margin-left: 30px;
  display: inline-block;
  font-weight: bold;
  color: #585858;
}
ul.tabs li.active {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.tab_container {

  clear: both;
  float: left;
  width: auto;
  background: #FFFFFF;
}
.tab_content {
  padding: 0 5px;
  font-size: 12px;
  display: none;
}
.tab_container .tab_content ul {
  width:100%;
  margin-left: 10px;
}
.tab_container .tab_content ul li {
  padding: 0 5px;
  list-style:none;
}
