.span_user_name {
  display: inline-block;
  clear: both;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 30px;
}

.span_hello{
  margin: -5px;
  font-size: 30px;
}

.span_register_info{
  display: block;
  padding-left: 30px;
  padding-top: 16px;
  font-size: 25px;
}

#button_find_postcode {
  width: 90px;
  height: 35px;
  margin-left: 5px;
}

.div_seller_info {
  font-size: 20px;
}

#li_menu {
  display: inline;
}

/* 판매자 등록 2단계 */

#hashtag_output {

}

.div_hashtag {
  border: 2px solid gold;
  border-radius: 20px;
  width: 100px;
}


.button_circle_add {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}

.button_circle_del {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}

.table_seller_menu {
  border-collapse: collapse;
}

.table_seller_menu th {
  border-collapse: collapse;
  border: 1px solid #a9a9a9;
  /* width: 100px; */

}

.table_seller_menu tr {
  border-collapse: collapse;
  border: 1px solid #a9a9a9;
    /* width: 100px; */
}

.table_seller_menu td {
  border-collapse: collapse;
  border: 1px solid #a9a9a9;
  text-align: center;
  font-size: 12px;
    /* width: 100px; */
}

.table_seller_menu td>input {
  width: 150px;
}



/* 판매자 정보 수정 페이지 */
.div_seller_info ul {
  padding: 0px;
}

.div_seller_info ul li {
  list-style: none;
}
