.span_user_name {
  display: inline-block;
  clear: both;
  padding-left: 30px;
  padding-top: 16px;
}

.span_hello{
  margin: -5px;
}

.span_register_info{
  display: block;
  padding-left: 30px;
  padding-top: 16px;
}
