.restaurants_content{
    display: block;
    position: relative;
}

.restaurants_main_pic_box{
    position: relative;
    width: 100%;
    height: 740px;
    min-width: 1200px;
}

.restaurants_main_pic_box .pic_box_left {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    background-color: blue;
    overflow : hidden;
}
.restaurants_main_pic_box .pic_box_right {
    display: inline-block;
    width: 25%;
    height: 50%;
    float: left;
    background-color: gray;
    overflow : hidden;
}

.restaurants_main_pic_box img {

}

.restaurants_main_upper_btn_box{
    position: absolute;
    top : 24px;
    right : 24px;
}

.restaurants_main_upper_btn_box button{
    width: 100px;
    height: 36px;
    margin-right: 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.restaurants_main_bottom_btn_box {
    position: absolute;
    top : 685px;
    right : 24px;
}

.restaurants_main_bottom_btn_box button{
    width: 100px;
    height: 36px;
    margin-right: 20px;
    font-size: 1rem;
    border-radius: 5px;
}