body, html {
	font-weight: 400;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
p{
  font-size: 20px;
}
.div_img {
  position: relative;
	float: left;
	  width: 400px;
}
.div_main_img{
	width: 650px;
	float: left;
}
.div_text_box{
	width: 1000px;
	float: left;
	display:inline-block
}
.div_img img{
	  width: 100%;
  height: auto;
}
.div_img_box{
	width:1700px;
}
.div_title{
	position: relative;
	width:1700px;
}
div{
  border: 0.1px solid gray;
}
img{
	float: left;
}
