.div_step {
  height: 64px;
}
.img_echelin_logo {
  width: 40px;
  height: 40px;
  padding: 10px;
}
.span_step_info {
  padding: 20px 0;
  position: absolute;
  font-size: 20px;
}

progress {
  -webkit-appearance:none;
  width: 100%;
  height: 30px;
}

::-webkit-progress-bar {
  background-color: #eaeaea;
}

::-webkit-progress-value {
  background-color: gold;
}




.button_next {
  width: 80px;
  height: 40px;
  background-color: gold;
  border: 0px solid pink;
  /* box-shadow: 5px 5px 5px lightgray; */
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 200px;
  float: right;
}

.button_prev {
  width: 80px;
  height: 40px;
  background-color: gold;
  border: 0px solid pink;
  /* box-shadow: 5px 5px 5px lightgray; */
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 200px;
  float: left;
}
.div_prv_next_button{
  width: 100%;
  height: 70px;
  position: fixed;
  text-align: center;
  background-color: #ffffff;
  border-top: 2px solid lightgray;
  float: left;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;

}


/* 장바구니 */


.span_hashtag {
  font-weight: bold;
  font-size: 40px;
  color: darkorange;
}

.span_hashtag_intro {
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 25px;
}

.input_hashtag {
  padding: 8px;
  outline: none;
  border: none;
}

.input_hashtag:focus {
  /* border-color:white;
  box-shadow: 2px 2px 5px gold; */
  border-color: white;
}

.div_hashtag {
  border: 2px solid gold;
  border-radius: 20px;
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 6px;
}

.button_x {
  background-color: #fff;
  border:2px solid gold;
  /* font-size: 17px; */
  width:20px;
  height:20px;
  border-radius:75px;
  /* text-align:center; */
  margin:0 auto;
  /* vertical-align:middle; */
  position: relative;
}

.span_x {
  font-size:14px;
  /* border: 1px solid black; */
  position: absolute;
  right: 4.4px;
  bottom: 0.65px;
}

.button_circle_add {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}

.button_circle_del {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}
.div_menu_content{
  width: 70%;
}
