.div_step {
  height: 64px;
}
.img_echelin_logo {
  width: 40px;
  height: 40px;
  padding: 10px;
}
.span_step_info {
  padding: 20px 0;
  position: absolute;
  font-size: 20px;
}

progress {
  -webkit-appearance:none;
  width: 100%;
  height: 30px;
}

::-webkit-progress-bar {
  background-color: #eaeaea;
}

::-webkit-progress-value {
  background-color: gold;
}




.button_next {
  width: 80px;
  height: 40px;
  background-color: gold;
  border: 0px solid pink;
  /* box-shadow: 5px 5px 5px lightgray; */
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 200px;
  float: right;
}

.button_prev {
  width: 80px;
  height: 40px;
  background-color: gold;
  border: 0px solid pink;
  /* box-shadow: 5px 5px 5px lightgray; */
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 200px;
  float: left;
}
.div_prv_next_button{
  width: 100%;
  height: 70px;
  position: fixed;
  text-align: center;
  background-color: #ffffff;
  border-top: 2px solid lightgray;
  float: left;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;

}


/* 장바구니 */


.span_hashtag {
  font-weight: bold;
  font-size: 40px;
  color: darkorange;
}

.span_hashtag_intro {
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 25px;
}

.input_hashtag {
  padding: 8px;
  outline: none;
  border: none;
}

.input_hashtag:focus {
  /* border-color:white;
  box-shadow: 2px 2px 5px gold; */
  border-color: white;
}
.div_hashtag_menu {
  border: 2px solid gold;
  border-radius: 20px;
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 6px;
}

.div_hashtag {
  border: 2px solid gold;
  border-radius: 20px;
  width: 250px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin: 6px;
}
.div_hashtag_nokids {
  border: 2px solid lightgray !important;
  color: gray !important;
}
.div_hashtag1{
  margin-top: 20px;
}

.button_x {
  background-color: #fff;
  border:2px solid gold;
  /* font-size: 17px; */
  width:20px;
  height:20px;
  border-radius:75px;
  /* text-align:center; */
  margin:0 auto;
  /* vertical-align:middle; */
  position: relative;
  float: right;
}
.button_menu {
  background-color: #fff;
  border:2px solid gold;
  /* font-size: 17px; */
  width:20px;
  height:20px;
  border-radius:75px;
  /* text-align:center; */
  margin:0 auto;
  /* vertical-align:middle; */
  position: relative;
  float: left;
}

.span_x {
  font-size:14px;
  /* border: 1px solid black; */
  position: absolute;
  right: 4.4px;
  bottom: 0.65px;
}

.button_circle_add {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}

.button_circle_del {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}
.div_menu_content{
  width: 70%;
}
.my_cart_wrap{
  width: 30%;
  float: right;

}
.p_add_price{
  display: inline-block;
  position: relative;
  margin: 0 5px 0 5px;
  float: left;
}
.p_add_price_right{
  float: right;
}
.todo-wrap{
  color: black;
}
.best_score_content{
  max-height: 645px;
  overflow-y: auto;
  margin-right: 15px;
}
footer{
  margin: 700px auto 0 auto;
}

.span_explain_content{
  visibility: hidden; /* 최초에는 툴팁 박스 안 보이게 */
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center; /*툴팁 박스 안의 글자가 가운데로 모이도록 */
  border-radius: 6px; /* 툴팁 박스 모서리가 약간 둥글게 */
  padding: 10px; /* 위아래 padding을 5 좌우 패딩을 5로 */
  z-index: 100; /* 툴팁이 화면의 다른 요소들 위에 보이고 가려지지 않도록 하기 위해 */
  position: relative; /* 툴팁 박스의 위치 지정 방식 설정 */
  left: 50%;
  top: -170px;
  margin-left: -90px;
}
.span_explain_content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid; /* border-color의 Top Right Bottom Left의 색상 지정 */
    border-color: black transparent transparent transparent; /*border-color: black red blue cyan;*/
} /* 아래 코드가 의미하는 것은 height를 250px로 잡았던 영역이 tootip이라는 이름의 div 영역인데 이 영역 위에 마우스가 hover하면 클래스명 tooltip 엘리먼트 안에 있는 클래스명 tooltiptext 엘리먼트를 보이라는 뜻. 즉 클래스명 tooltiptext가 툴팁 박스 자체인데 tootip이라는 클래스명을 가진 엘리먼트(여기서는 div) 영역위에 마우스가 hover하면 툴팁 박스를 보이라는 뜻임 */
.score_content_first:hover .span_explain_content {
    visibility: visible;
}



/*text area*/

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 15px;
    border-radius: 0;
    line-height: 22px;
    background-color: #ffffff;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    /*border: 3px solid #3498db;*/
    border-color: gold;
    color: gray;
    outline: none;
    /*padding: 13px 13px 13px 54px;*/
}
#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 20px 20px;
    background-position: 16px 14px;
    background-repeat: no-repeat;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}
