.span_user_name {
  display: inline-block;
  clear: both;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 30px;
}

.span_hello{
  margin: -5px;
  font-size: 30px;
}

.span_register_info{
  display: block;
  padding-left: 30px;
  padding-top: 16px;
  font-size: 25px;
}

#button_find_postcode {
  width: 90px;
  height: 35px;
  margin-left: 5px;
}

.div_seller_info {
  font-size: 20px;
}

#li_menu {
  display: inline;
}

/* 판매자 등록 2단계 */

.span_hashtag {
  font-weight: bold;
  font-size: 40px;
  color: darkorange;
}

.span_hashtag_intro {
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 25px;
}

.input_hashtag {
  padding: 8px;
  outline: none;
  border: none;
}

.input_hashtag:focus {
  /* border-color:white;
  box-shadow: 2px 2px 5px gold; */
  border-color: white;
}

.div_hashtag {
  border: 2px solid gold;
  border-radius: 20px;
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 6px;
}

.button_x {
  background-color: #fff;
  border:2px solid gold;
  /* font-size: 17px; */
  width:20px;
  height:20px;
  border-radius:75px;
  /* text-align:center; */
  margin:0 auto;
  /* vertical-align:middle; */
  position: relative;
}

.span_x {
  font-size:14px;
  /* border: 1px solid black; */
  position: absolute;
  right: 4.4px;
  bottom: 0.65px;
}

.button_circle_add {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}

.button_circle_del {
  background-color: #fff;
  border:2px solid gold;
  font-size: 17px;
  width:40px;
  height:40px;
  border-radius:75px;
  text-align:center;
  margin:0 auto;
  vertical-align:middle;
}

.table_seller_menu {
  border-collapse: collapse;
}

.table_seller_menu th {
  border-collapse: collapse;
  border: 1px solid #a9a9a9;
  /* width: 100px; */

}

.table_seller_menu tr {
  border-collapse: collapse;
  border: 1px solid #a9a9a9;
    /* width: 100px; */
}

.table_seller_menu td {
  border-collapse: collapse;
  border: 1px solid #a9a9a9;
  text-align: center;
  font-size: 12px;
    /* width: 100px; */
}

.table_seller_menu td>input {
  width: 150px;
}



/* 판매자 정보 수정 페이지 */
.div_seller_info ul {
  padding: 0px;
}

.div_seller_info ul li {
  list-style: none;
}
