.container{
  margin-top: -50px;
  margin-left: -30px;
}

.my_comment_title{
  margin: 20px 0 0 40px;
}

.comment_title_sub {
  color: #585858;
  font-size: 16px;
}

.comment_title_main {
  color: #585858;
  font-size: 30px;
  font-weight: bold;
}

.div_section{
  margin-left: 40px;
  margin-top: 40px;
}

.show_main{
  width: 920px;
  height: auto;
  border: 1.5px solid #D2CBC5;
  border-radius: 10px;
}

.show_basic{
  width: 800px;
  height: auto;
  margin: 30px 0 30px 30px;
}

.show_basic .show_no{
  width: 700px;
  height: 150px;
  position: relative;
  font-size: 12px;
}

.show_basic .no_span{
  position: absolute;
  top: 70px;
  left: 330px;
}

.show_element{
  width: 800px;
  height: 160px;
  margin: 30px 0 30px 25px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.show_element:hover{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.show_element img{
  width: 200px;
  height: 140px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.element_main{
  display: inline-block;
  width: 450px;
  height: 140px;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.element_main span{
  display: block;
  font-size: 13px;
}

.element_main .span_first{
  font-weight: bold;
}

.element_main .span_second{
  margin-top: 10px;
}

.element_main .span_third{
  margin-top: 60px;
}

.show_btn_div{
  display: inline-block;
  width: 110px;
  height: auto;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  text-align: center;
}

.show_btn_div button{
  width: 110px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: gold;
  color: white;
  cursor: pointer;
  font-size: 10px;
}
 .btn_store_update {
   margin-top: 100px;
 }


.btn_reserv{
  margin-top: 85px;
}

.btn_adver_click{
  margin-top: 84px;
}

.show_btn_div span{
  font-size: 12px;
  color: #02B5F0;
}

.test_btn{
  margin-left: 812px;
}











.modal {
opacity: 0;
visibility: hidden;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
text-align: left;
background: rgba(0,0,0, .6);
transition: opacity .25s ease;
}
.modal_bg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
cursor: pointer;
}
.modal-state {
display: none;
}
.modal-state:checked + .modal {
opacity: 1;
visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
top: 0;
}

.modal_inner {
transition: top .25s ease;
position: absolute;
top: -5%;
right: 0;
bottom: 0;
left: 0;
width: 50%;
height: 80%;
margin: auto;
overflow: auto;
background: #fff;
border-radius: 5px;
padding: 1em 2em;
}
.modal_cancel_inner {
width: 250px !important;
height: 150px !important;
}
.modal_close {
position: absolute;
right: 1em;
top: 1em;
width: 1.1em;
height: 1.1em;
cursor: pointer;
}

.modal_close:after,
.modal_close:before {
content: '';
position: absolute;
width: 2px;
height: 1.5em;
background: #ccc;
display: block;
transform: rotate(45deg);
left: 50%;
margin: -3px 0 0 -1px;
top: 0;
}

.modal_close:hover:after,
.modal_close:hover:before {
background: #aaa;
}

.modal_close:before {
transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

.modal_inner {

  top: -2%;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
}
}

.btn {
margin: 25px 0 0 0;
cursor: pointer;
background: DARKORANGE;
display: inline-block;
padding: .5em 1em;
color: #fff;
border-radius: 3px;
font-size: 12px;
}
.btn_cancel {
font-size: 15px !important;
margin: 25px 0 0 60px !important;
}

.btn:hover,
.btn:focus {
background: ORANGERED;
}

.orangered{
  color: orangered !important;
}
.darkorange{
  color: darkorange !important;
}
.pophead{
  margin: 30px 0 0 30px;
}
.pophead2{
  padding:30px 0 0 30px;
  margin-bottom: 10px;
  width: 200px;
}
.reservation_info{
  border-bottom: 2px solid maroon;
  width: 70%;
  margin: 0 10px 10px 30px;
}
.pophead3{
  margin: 30px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid orangered;
  width: 70%;
}
.pinpo{
  margin: 20px 30px 10px 10px;
}
