.modify_form{
    position: relative;
    width: 325.33px;
    height: 400px;
    float: left;
    margin: 0 auto;
    border: 1px solid  lightgray;
    margin-left: 15%;
}
.my_about{
    position: relative;
    width: 114%;
    height: 89px;
    display: inline-block;
    font-size: 14.5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    right: 45px;
}
.legend_about{
    position: relative;
    display: inline-block;
    color: black;
    right: 15px;
}


.user_photo{
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 20px;
    top: 45px;
}

.modify_photo{
    position: relative;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: teal;
    top: 150px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}
.photo_update{
    position: relative;
    left: 10px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 13.5px ;
    font-weight: 600 ;
    line-height: 2.5em;
    color:black;
    text-decoration: none;
}
.modify_user{
    position: relative;
    color: teal;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    top: 55px;
    text-align: center;
}
.user_in{
    position: relative;
    color: black;
    font-size: 18px;
    font-weight: bold;
    top: 55px;
    left: 25px;
    text-align: center;
    margin: 20px;
}
.text_number{
    position: relative;
    right: 15px;
    color: gold;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.modify_form_2{
    position: relative;
    right: 22px;
}
.data_number{
    position: relative;
    padding: 2px;
    left: 22px;
}
.about_me{
    position: relative;
    font-size: 44px;
    text-align: center;
    width: 660px;
}
.about_me2{
    width: 82%;
    position: relative;
    font-size: 18px;
    display: inline-block ;
    text-align: center;
    margin: 0 auto;
}
.about_me3{
    display: none;
    position: relative;
    font-size: 18px;
    float: left;
    text-align: center;
  
}
.about_button{
    position: absolute;
    width: 15%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 30px;
    background: white;
    background-color: white;
    color: orangered;
    font-size: 18px;
    font-weight: 800;
    top: 104px;
    left: 423px;
}
.about_font{
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    background: white;
    background-color: white;
}
.legend_text{
    position: relative;
    display: inline-block;
    margin: 5px;
    color: black;
    text-align: left;
}
.text_move{
    position: relative;
    margin: 5px 0px;
    color: black;
    border-bottom: 1px solid lightgray;
    bottom: 26.5px;
    border: none;
}

.button_background{
    background-color: white;
    color: black;
    background: white;
    border: 1px solid white;
    font-size: 17px;
   

}
.my_hugi{
    width: 82%;
    position: relative;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 13.5px ;
    font-weight: 600 ;
    line-height: 2.5em;
    color:black;
    text-align: center;
    text-decoration: none;
}

.my_hugi a:hover{
    color: orangered;
}

.my_hugi a:link,.my_hugi a:visited,.my_hugi a:hover{
    text-decoration: none;
    color: orangered;
}


/* input 요소 실명에 들어가는 css */
.view_name{
    width: 40%;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}
.hide_save_button{
    width: 20%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
    background: white;
    background-color: white;
    color: orangered;
    font-size: 18px;
    font-weight: 800;
}
.input_save_form{
    position: relative;
    display: none;
    width: 100%;
    left: 15px;
    bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.update_button{
    position: relative;
    background-color: white;
    color: black;
    background: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    float: right;
    bottom: 27px;
}

.view_pass{
    width: 40%;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}
.hide_save_button_pass{
    width: 20%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
    background: white;
    background-color: white;
    color: orangered;
    font-size: 18px;
    font-weight: 800;
}
.input_save_pass_form{
    position: relative;
    display: none;
    width: 100%;
    left: 15px;
    bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.update_button_2{
    position: relative;
    background-color: white;
    color: black;
    background: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    float: right;
    bottom: 27px;
}


.view_phone{
    width: 40%;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}
.hide_save_button_phone{
    width: 20%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
    background: white;
    background-color: white;
    color: orangered;
    font-size: 18px;
    font-weight: 800;
}
.input_save_phone_form{
    position: relative;
    display: none;
    width: 100%;
    left: 15px;
    bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.update_button_3{
    position: relative;
    background-color: white;
    color: black;
    background: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    float: right;
    bottom: 27px;
}

.view_age{
    width: 40%;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}
.hide_save_button_age{
    width: 20%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
    background: white;
    background-color: white;
    color: orangered;
    font-size: 18px;
    font-weight: 800;
}
.input_save_age_form{
    position: relative;
    display: none;
    width: 100%;
    left: 15px;
    bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.update_button_4{
    position: relative;
    background-color: white;
    color: black;
    background: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    float: right;
    bottom: 27px;
}






.view_regist{
    width: 40%;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}
.hide_save_button_regist{
    width: 20%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
    background: white;
    background-color: white;
    color: orangered;
    font-size: 18px;
    font-weight: 800;
}
.input_save_regist_form{
    position: relative;
    display: none;
    width: 100%;
    left: 15px;
    bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.update_button_5{
    position: relative;
    background-color: white;
    color: black;
    background: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    float: right;
    bottom: 27px;
}










