.article_content_box {
    width: 800px;
}
.article_content_box * {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article_content_box h1 {
    font-size: 2rem;
    width: 800px;
}

.article_content_box h2 {
    font-size: 1.5rem;
    width: 800px;
}

.article_content_box p {
    font-size: 1.2rem;
    width: 800px;
}

.article_content_sub_title li {
    margin-left: 2rem;
    list-style: disc;
}

.right_content h1 {
    font-size: 2rem;
    width: 800px;
    float: left;
    clear: both;
    margin-top: 40px;
    margin-bottom: 20px;
}

.right_content h2 {
    font-size: 1.5rem;
    width: 800px;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
.right_content h3 {
    font-size: 1.5rem;
    width: 800px;
    float: left;
    clear: both;
    margin-bottom: 10px;
}